body {
    background-color: rgb(184, 201, 228);
}

.header {
    background-color: rgb(109, 127, 164);
    border: 2px solid rgb(43, 50, 70);
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
}

.header h2 {
    color: rgb(47, 51, 77);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}

.header a {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
}

.card {
    background-color: rgb(109, 127, 164);
    border: 2px solid rgb(43, 50, 70);
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
}

.card h2 {
    color: rgb(47, 51, 77) ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.card p {
    padding: 10px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.card a {
    color: aliceblue;
    background-color: rgb(43, 49, 63);
    padding: 7px;
    border: 2px solid black;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}